{{#with data}}
<div class="header">
	<div class="logo">
		<div class="badge">{{brandName}}</div>
	</div>
	<nav class="header_nav">
		<div class="header_nav_right">
			{{#each links}}
			<a href="{{url}}" class="nav_link">{{text}}</a>
			{{/each}}
		</div>
	</nav>
</div>
<div class="ad">
	<nav>
		<div class="ad_logo">Logo</div>
		{{#with header.ad}}
		<a href="url" class="ad_link">{{text}}</a>
		{{/with}}
	</nav>
	<div class="userOnline">Users online{{header.userOnline}}</div>
</div>
{{/with}}